.about-container {
  background-color:rgba(255,255,255,0.7);

  header {
    background-color:rgba(255,255,255,0.7);
    margin-bottom: 16px;
    .about-title {
      height:121px;
      width:660px;
      margin: auto;
      font-family: 'Diplomata SC', cursive;
      font-size: 56px;
      // color:lighten(red, 15%);
      color: black;
      text-align: center;
      padding-top: 15px;
    }

  }

  #about-pic {
    height: 400px;
    width: 400px;
    margin: auto;
    border: 5px solid white;
    box-shadow: 10px 10px 5px #888888;
    background: url('../img/BarberShopLogo.jpg')no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 16px;
  }
  .summary-wrapper {
    line-height: 1.5em;
    font-size: 36px;
    width: 80%;
    margin: auto;
    text-align: center;
  }

  .place-holder {
    margin-top: 100px;
    font-size: 36px;
    // background: lighten(red, 15%);
    background-color:rgba(255,255,255,0.7);
    border: 1px solid black;
    font-family: 'Diplomata SC', cursive;
    color: lighten(black, 5%);
    text-align: center;
  }
}
