  // =  =  =  component container classname  =  =  =  =  =
.gallery-container {
  text-align: -webkit-center;
  // =  =  =  =  =  gallery header element  =  =  =  =   =
  header {
    background-color:rgba(255,255,255,0.7);
    // div inside of the header and the styles were taken from product styles need to find a way to transfer styles from scss files!! **
    .gallery-header-title {
      height:121px;
      width:471px;
      margin: auto;
      font-size: 56px;
      font-family: 'Diplomata SC', cursive;
      color:lighten(blue, 15%);
      text-align: center;
      padding-top: 28px;
    }
  }

  .instafeed-container {
    width: 60%;
    margin: auto;
    padding-top: 24px;
  }

}
  // =  =  = classname for each picture  =  =  =  =
  .galleryPic-wrapper {
    width: 100%;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
.galleryPic {
  border:10px solid black;
  height:400px;
  width:400px;
  margin-top: 30px;
  margin-bottom: 30px;
}
