// Component Services
#services-container {
  min-height: 100vh;
  background-color:rgba(255,255,255,0.7);

  .service-container-wrapper {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
  .artist-service-container {
    margin-top: 36px;
    text-align: center;
    .artist-name {
      font-size: 60px;
      font-family: 'Diplomata SC', cursive;
    }

  }
  header {
    background-color:rgba(255,255,255,0.7);

    .services-header-title {
      height:121px;
      width:500px;
      margin: auto;
      font-size: 56px;
      font-family: 'Diplomata SC', cursive;
      // color:lighten(red, 15%);
      color: black;
      text-align: center;
      padding-top: 28px;
    }
  }

}

// Component Service
.service-wrapper {
  margin-bottom: 20px;
  margin-top:20px;

  li {
    margin-bottom: 16px;
    border-width: thick;
    border-left: 4px solid black;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    padding: 16px;
    box-shadow: 10px 10px 5px #555555;
    .notes {
      width: 60%;
      margin: auto;
      // text-align: center;
      padding: 16px;
      line-height: 1.5em;
    }
  }

  li div{
    margin-bottom: 10px;
    font-size: 36px;
  }

}
