#artists {
  width: 100%;
  background-color:rgba(255,255,255,0.7);
  header {
    background-color:rgba(255,255,255,0.7);

    .artist-header-title {
      height:121px;
      width:360px;
      margin: auto;
      font-size: 56px;
      color:lighten(blue, 15%);
      text-align: center;
      padding-top: 28px;
    }
  }
}

// Artist  =  =  =  =  =  =  =  =  =  =
#artist-container {
  text-align: center;
  margin-bottom:24px;
  #summary-container {
    width:50%;
    margin: auto;
    text-align: center;
  }
}
